:root {
  --primary-text: #212121;
  --secondary-text: #757575;
  --text: #000000;
  --first-color: #e1eacd;
  --second-color: #bad8b6;
  --third-color: #61b390;
  --fourth-color: #01352c;
  --font: "Source Code Pro", monospace;
}

body {
  font-family: var(--font) !important;
  background-color: var(--second-color);
}

/* Header styling*/
header {
  background-image: url("/images/code.jpg");
  background-size: 100%;
  color: var(--first-color);
  padding-top: 7%;
  padding-bottom: 8%;
}

h1 {
  font-size: 86pt;
}

h3 {
  font-size: 38pt;
}

h4 {
  font-size: 26pt;
  font-weight: bolder;
}

header a {
  color: var(--first-color) !important;
  padding-top: 3%;
  font-size: 26pt;
}

/* Generic styling */
h2 {
  margin-bottom: 50px;
}

/* NavBar Styling */
.navbar {
  background: var(--third-color);
  padding-left: 100px;
}

.navbar a {
  color: var(--primary-text) !important;
}

/* About me Styling */
#about-me {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 160px;
}

.about-me {
  color: var(--primary-text);
}

.about-me a:hover {
  color: var(--second-color);
  background: var(--fourth-color);
}

/* Skills Styling */
.skills {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 60px;
}

/* Projects Styling */
.dark-box {
  background-color: var(--fourth-color);
  transform: skewY(-11deg);
  padding-top: 30px;
  padding-bottom: 30px;
}

#projects {
  max-width: 900px;
  margin: 0 auto;
  color: var(--second-color);
  margin-bottom: 90px;
  transform: skewY(11deg);
}

.text-link {
  color: var(--second-color);
}

.text-link:hover {
  color: var(--fourth-color);
  background: var(--first-color);
}

img {
  max-width: 400px;
}

.project-links a {
  background: var(--second-color);
  color: var(--fourth-color);
}

.project-links a:hover {
  background: var(--third-color);
  font-weight: bolder;
}

.b-side {
  border-right: 1px solid var(--third-color);
}
.b-top {
  border-top: 1px solid var(--third-color);
}

/* Contact me Styling */
#contact-me {
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 100px;
  color: var(--primary-text);
}

#contact-me h2 {
  color: var(--second-color);
  position: relative;
  bottom: 70px;
}

#contact-me a {
  color: var(--primary-text);
}

#contact-me a:hover {
  color: var(--primary-text);
  font-weight: bolder;
}

/* Footer styling */
footer,
footer a {
  color: var(--primary-text);
  font-size: 10pt;
  margin-bottom: 0;
}

footer a:hover {
  color: var(--primary-text);
  font-weight: bolder;
}

/* Media Queries */
@media (max-width: 992px) {
  h1 {
    font-size: 38pt;
  }

  h3 {
    font-size: 26pt;
  }

  h4 {
    font-size: 16pt;
    font-weight: bolder;
  }

  header a {
    font-size: 16pt;
  }

  h2,
  p,
  .text-link {
    margin-left: 58px;
    margin-right: 58px;
  }

  .b-bottom {
    border-bottom: 1px solid var(--third-color);
  }
  .b-side {
    border-right: 0;
  }
  .b-top {
    border-top: 0;
  }
}

@media (max-width: 440px) {
  img {
    max-width: 250px;
    display: block;
    margin: 0 auto;
  }

  .navbar {
    padding-left: 0 !important;
  }
}
