:root {
  --primary-text: #212121;
  --secondary-text: #757575;
  --text: #000000;
  --first-color: #e1eacd;
  --second-color: #bad8b6;
  --thrid-color: #61b390;
  --fourth-color: #01352c;
  --font: "Source Code Pro", monospace;
}

body {
  font-family: var(--font) !important;
}

/* Header styling*/
header {
  background-image: url("/images/code.jpg");
  background-size: 100%;
  color: var(--first-color);
  padding-top: 7%;
  padding-bottom: 8%;
}

h1 {
  font-size: 86pt;
}

h3 {
  font-size: 38pt;
}

h4 {
  font-size: 26pt;
  font-weight: bolder;
}

header a {
  color: var(--first-color) !important;
  padding-top: 3%;
  font-size: 26pt;
}

/* Generic styling */
.content {
  max-width: 900px;
  margin: 0 auto;
}

img {
  max-width: 400px;
}

/* Footer styling */
footer,
footer a {
  background-color: var(--fourth-color);
  color: var(--second-color);
  font-size: 10pt;
}

footer a:hover {
  color: var(--second-color);
  font-weight: bolder;
}
